* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  width: 100vw;
  height: 100vh;
}

.Header {
  text-align: centre;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header_title {
  color: #dddddd;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}

.header_title:hover {
  color: #f05454;
}

.current_user {
  display: flex;
  align-items: center;
  color: #dddddd;
}

.current_user_username {
  padding-left: 5px;
}

.error_handling {
  border: #dddddd solid 10px;
  background-color: #dddddd;
  color: #30475e;
  text-transform: capitalize;
}

.loading_gif {
  text-align: center;
  margin: 0 auto;
  border: white solid 3px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 10px;
}

#delete_loading {
  border: mediumorchid solid 2px;
  margin: 0 auto;
  max-width: 800px;
}

.profile_section {
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  grid-area: profile;
}

.profile_img {
  width: 25px;
  height: 25px;
  border: white solid 3px;
  border-radius: 15px;
  margin-left: 3px;
  margin-right: 3px;
}
.profile_author {
  padding-top: 4px;
  color: rgb(32, 32, 145);
}

.time {
  padding-top: 4px;
  padding-left: 10px;
  font-size: 14px;
}
