.CategoryHome {
  margin: 0 auto;
  max-width: 90vw;
  border: solid 2px blue;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
}

.CategorySelector {
  border: solid 2px rgb(175, 223, 175);
  height: fit-content;
  padding: 10px;
  margin: 10px;
}
.category {
  text-transform: capitalize;
  margin: 5px;
  padding: 5px;
  border: rgb(202, 202, 202) solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.ReviewList {
  border: solid 2px red;
  padding: 10px;
  margin: 10px;
}

.ReviewCard {
  min-height: 150px;
  height: fit-content;
  max-width: 700px;
  margin: 0 auto;
  width: 80vw;
  border: rgb(202, 202, 202) solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 40% 30%;
  grid-template-areas:
    "profile image"
    "title image"
    "interaction image";
}

.space_div {
  padding: 5px;
}

.profile_selection {
  grid-area: profile;
}

.reviewCard_title {
  grid-area: title;
  text-align: left;
  padding-top: 5px;
  padding-left: 15px;
  color: black;
}

.review_interaction {
  display: flex;
  grid-area: interaction;
  padding-top: 5px;
  padding-left: 15px;
}

.review_img {
  width: 180px;
  height: 90px;
  grid-area: image;
  margin: 0 auto;
  padding-top: 5px;
}
