.ReviewHome {
  text-align: center;
  margin: 0 auto;
  max-width: 90vw;
  min-width: 500px;
  background-color: #30475e;
  border: #30475e solid 20px;
}

.FullReview {
  border: rgb(202, 202, 202) solid 1px;
  background-color: #dddddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "votes profile image"
    "votes title image"
    "votes body image";
}
#full_review_profile {
  grid-area: profile;
}

#full_review_title {
  grid-area: title;
  text-align: left;
  padding: 5px;
}

#full_review_designer {
  grid-area: designer;
}

#full_review_body {
  font-size: medium;
  grid-area: body;
  text-align: left;
  padding: 10px;
}

#full_review_votes {
  padding-top: 5px;
}

.image_container {
  grid-area: image;
  place-self: center;
}

.full_review_img {
  margin: 0 auto;
  padding: 5px;
  width: 75%;
  height: 75%;
  object-fit: scale-down;
}

.CommentList {
  /* border: green solid 2px; */
  height: fit-content;
  min-height: fit-content;
  min-width: 300px;
  max-width: 800px;
  padding-top: 5px;
}

.CommentCard {
  /* border: pink solid 2px; */
  border: rgb(202, 202, 202) solid 1px;
  background-color: #dddddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  max-width: 600px;
  min-width: 300px;
  padding: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3% 90% 7%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "votes profile"
    "votes comment_body";
}

.comment_body {
  text-align: left;
  padding-top: 5px;
  padding-left: 45px;
  grid-area: comment_body;
}

.votes_section {
  grid-area: votes;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.votes {
  padding: 5px;
}
.full_review_designer {
  text-transform: capitalize;
}

.NewComment {
  border: rgb(202, 202, 202) solid 1px;
  background-color: #dddddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  max-width: 600px;
  min-width: 300px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.new_comment {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.new_comment_body {
  min-width: auto;
  min-width: 300px;
  width: fit-content;
  max-width: 800px;
  padding-left: 30px;
  background-color: #dddddd;
  border: #30475e solid 2px;
}

.comment_button {
  margin: 5px;
  padding: 2px 4px;
  background-color: #30475e;
  border-radius: 5px;
  color: #dddddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.comment_button:hover {
  background-color: #f05454;
}
