* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
}

.Header {
  border: solid 2px orange;
}

.CategoryHome {
  border: solid 2px blue;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
}

.CategorySelector {
  border: solid 2px green;
  padding: 10px;
}

.ReviewList {
  border: solid 2px red;
  padding: 10px;
}

.ReviewCard {
  border: solid 2px darkblue;
  margin: 0 auto;
  padding: 10px;
  max-width: 760px;
  height: 150px;
  display: grid;
  grid-template-columns: 15% 10% 25% 50%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    "review review review image"
    "title title title image"
    "date comments likes image";
}

.reviewLabel {
  grid-area: review;
  text-align: left;
  padding: 5px;
  font-weight: bold;
}

.review_title {
  grid-area: title;
  text-align: left;
  align-content: left;
  font-size: 28px;
  padding: 5px 5px;
}

.review_img {
  width: 300px;
  height: 160px;
  grid-area: image;
  padding-right: 5px;
  justify-content: right;
}

.review_date {
  grid-area: date;
  text-align: left;
}

.review_votes {
  grid-area: likes;
  text-align: left;
}

.review_comments {
  grid-area: comments;
  text-align: left;
  padding-left: 20px;
}
/* .review_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: fuchsia solid 2px;
} */
