* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  width: 100vw;
  height: 100vh;
}

.Header {
  border: solid 2px orange;
}
